<footer class="app-footer np-shell">
  <div class="app-footer-inner">
    <div class="app-footer-brand"><img class="app-footer-mark" src="assets/brand/netvula-marca.png" alt="" width="20" height="20" /><span>Netvula <b>ISP Manager</b></span><span class="app-footer-divider"></span><span>© {{ year }}</span></div>
    <div class="app-footer-status"><i></i>Servicios operativos</div>
    <div class="app-footer-meta"><span>v2.0</span><span class="app-footer-divider"></span><span>Soporte operativo</span><span class="app-footer-divider"></span><a [href]="'https://' + sitio" target="_blank" rel="noopener">{{ sitio }}</a></div>
  </div>
</footer>
