<div class="flex flex-wrap space-x-4 p-6">
<div class="flex justify-center space-x-4 p-6 bg-gray-100 dark:bg-gray-900">
  <div class="max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
    <h5 class="mb-4 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">CLIENTES POR MESES</h5>
    <canvas id="clientsChart"></canvas>
  </div>
  <div class="max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
    <h5 class="mb-4 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">CONTRATOS</h5>
    <canvas id="contractsChart"></canvas>
  </div>
  <div class="max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
    <h5 class="mb-4 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">INGRESOS POR MESES</h5>
    <canvas id="incomeChart"></canvas>
  </div>
</div>
</div>